.container{
   
}
.mainText{
    margin-top: 10px;
}
.navbar{
    padding-left: 20px;
    background-color: rgb(80, 154, 162);
}
.hyperlinks{
    margin-right: 10px;
}
a{
    margin-right: 20px;
}
.jumbotron{
  
}
.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-bottom: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    color: white;
    background-color: rgb(40, 46, 46);
   
}
.cardImages{
    width: 100%;
    max-height: 180px;
    border-radius: 5px;
}
.cardContainer{
    display: flex;
    flex-wrap: wrap; 
    gap: 10px; 
    justify-content: center;
    margin-bottom: 150px;
}
.card{
    display: flex;
   
    max-width: 300px;
    height: 400px;
    margin-top: 10px;
    padding: 10px;
    gap: 10px; 
   

}
.cardButton{
    
    max-width: 150px;
}
.card-text{
    text-align: center;
   
}